.adminpage h1{
	text-align: center;
}

.adminpage .search_bar{
	margin-left: 17%;
	width:27%;
}

.adminpage table{
	width : 50%;
	background-color: #ededed;
}

.adminpage tr th{
 background-color: #333;
 color:white;
}

.adminpage tr td{
 background-color:green;
 color:white;
}