main{
	
}
h1{
	text-align: center;
}
.charts{
	
	width:63%;
	height:93%;
	margin: auto;
	margin-left:18%;
	margin-right|:50%;
}
.EmployeeRole{
	margin-top:5%;
	margin-left:4%;
}

.EmployeeDepartment{
	margin-left:53%;
	margin-top:-26%;
}

.ProductsCategory{
margin-left:4%;
margin-top:4%;
}

.EmployeeCity{
	margin-left:53%;
	margin-top:-25%;
}